.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0% var(--side-padding);
    justify-content: space-between;
    margin-top: 4%;
    box-sizing: border-box;
}

.contentContainer{
    margin: auto;
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filtersContainer{
    width: 28%;
}

.emptySection{
    height: 600px;
    width: 100%;
    text-align: center;
}

.infoText{
    margin-top: 14%;
    font-family: RobotoSlab-SemiBold;
    font-size: 32px;
}