.reviewForm {
    padding: 3%;
    margin-block: 2%;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    background-color: white;
}

.reviewFormInput{

}

.starImage{
    width: 26px;
    height: 26px;
}

.button{
    margin-top: 2%;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 32px;
}



.reviewLabel{
    display: flex;
    flex-direction: column;
    font-family: RobotoSlab-Medium;
    font-size: 16px;
    margin-bottom: 8px;
}

.inputField{
    margin-top: 10px;
    height: 44px;
    border: none;
    background-color: whitesmoke;
    font-family: RobotoSlab-Regular;
}

.textArea{
    height: 100px;
    margin-top: 10px;
    border: none;
    background-color: whitesmoke;
}