.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1% var(--horizontal-padding) 0 var(--horizontal-padding);
    box-sizing: border-box;
}

.navArea{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 40%;
    justify-content: space-evenly;
}

.socialLinkSection{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.logoContainer{
    width: 16%;
}

.form{
    border: 2px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 66%;
    width: 30%;
    border-radius: 22px;
    position: relative;
}

.categoriesTextOption{
    font-family: Lato-Regular;
    font-size: 14px;
}

.categoriesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: Lato-Regular;
    font-size: 16px;
    width: 38px;
    height: 38px;
    background-color: #d8d8d8;
    position: relative;
    border-radius: 6px;
}

.btnImage{
    color: black;
    filter: invert();
}

.searchInput{
    text-decoration: none;
    border: none;
    width: 100%;
    font-family: RobotoSlab-Regular;
    font-size: 17px;
    padding: 0% 4%;
    height: 100%;
    border-radius: 22px;
}

.categorySelector{
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.searchButton{
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    display: flex;
    width: 12%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.searchButton > img{
    width: 70%;
    height: auto;
}

.navBarContainer{

}

.link{
    font-family: Lato-Regular;
    text-decoration: none;
    font-size: 16px;
    color: #555555;
}

.avatarContainer{
    width: 44px;
    height: 44px;
}

.avatarImage{
    width: 100%;
    height: 100%;
}

.cartItemsText{
    background-color: greenyellow;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-left: 4%;
    position: absolute;
    right: 15%;
    top: -110%;
}

.accountButton{
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoLink{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
}

.logoImage{
    margin: auto;
}

@media (max-width: 1100px) {
    .container{
        height: max-content;
        width: 100%;
        align-items: center;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

    .categoriesContainer{
        width: 100%;
    }

    .form{
        order: 4;
        width: 96%;
        height: 52px;
        margin-top: 3%;
        box-sizing: border-box;
    }

    .buttons{
        margin-top: 3%;
    }

    .categoriesContainer{
        order: 5;
        margin-top: 10px;
    }

    .logoContainer{
        width: 100%;
    }

    .buttons{
        width: 60%;
    }
}