
.container{
    width: 100%;
    height: max-content;
    padding: 0% var(--side-padding);
    box-sizing: border-box;
}


.orderItem{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    padding: 3% 8%;
    box-sizing: border-box;
}

.viewOrderButton{
    background: none;
    border: none;
    background-color: aquamarine;
}