.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navArea{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.socialLinkSection{
    display: flex;
    flex-direction: row;
    align-items: center; 
}