.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #555555;
    padding: 2% var(--horizontal-padding) 0% var(--horizontal-padding);
    justify-content: space-around;
    height: 100px;
    box-sizing: border-box;
}