@import url(../fonts.css);
.container{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 0% var(--horizontal-padding) 0% var(--horizontal-padding);
    height: 36px;
    justify-content: flex-start;
    align-items: center;
}

.categoriesButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 18%;
}

.catergoriesSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}


.selectOption{
    border: none;
    padding: 0;
    color: white;
    background: none;
    font-family: Lato-Regular;
    font-size: 14px;
}



.promotionSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;  
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    align-items: center;
    box-sizing: border-box;
    margin: 1% 0%;
    justify-content: flex-start;
    padding: 1% 4%;
}

.promotionImageContainer{
    width: 20%;
}

.promotionTextContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.promotionText{
    margin: 0%;
    font-family: Lato-Bold;
    font-size: 14px;
}

.promotionTextTwo{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #C4C4C4;
}

.productSection{

}

.categoriesContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    height: 320px;
    background-color: white;
    border-radius: 8px;
    padding: 3% 3%;
    top: 0%;
}

.categoryLink{
    font-family: Lato-Regular;
    font-size: 16px;
    text-decoration: none;
    color: #555555;
    text-transform: capitalize;
    margin-bottom: 10px;
}