
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    align-items: center;
    margin-bottom: 3%;
}


.productInfoContainer{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.productSpecificInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 3%;
    width: 66%;
}

.priceText{
    font-family:RobotoSlab-Medium;
    font-size: 14px;
}

.productImageContainer{
    width: 32%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    border: 3px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityContainer{
    width: 15%;
    height: 38%;
}

.productNameText{
    text-transform: capitalize;
    margin: 0%;
    font-family:RobotoSlab-SemiBold;
    font-size: 18px;
}

.colorContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 14px;
    width: 100%;
}

.colorMarker{
    width: 18px;
    height: 18px;
    background-color: brown;
    border-radius: 50px;
    margin-top: 3%;
    margin-left: 4%;
}

.productImage{
    display: inline-block;
    object-fit: fill;
    max-width: 100%;
}

.infoText{
    margin: 0%;
    margin-top: 2%;
    font-family:RobotoSlab-Regular;
    font-size: 14px;
}

.sizeText{
    font-size: 16px;
    font-family:RobotoSlab-Regular;
}