.container{
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 2% 6%;
    box-sizing: border-box;
    margin-bottom: 4%;
    height: max-content;
    position: relative;
}

.containerSelected{
    background-color: #E9E9E9;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkBox{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35%;
    left: 0%;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    box-sizing: border-box;
}

.checkBoxSelected{
    border: 6px solid #4172DC;
}