.container{
    width: 90%;
}

.contentContainer{

}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    box-sizing: border-box;
}

.buttonActive{
    border: 2px solid grey;
}

.button{
    color: #555555;
    font-family: Lato-Regular;
    font-size: 16px;
}