.container{
    width: 90%;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.sizeTag{
    width: max-content;
    padding: 0% 3%;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    display: flex;
    margin: 0%;
    margin-inline: 3%;
}