.container{
    width: 100%;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.sizeTag{
    width: max-content;
    padding: 0% 2%;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    display: flex;
    margin: 2% 1%;  
    box-sizing: border-box;
    height: 28px;
    width: 22%;
}

.tagText{
    font-family: Lato-Bold;
    font-size: 16px;
    color: black;
    margin: auto;
    cursor: pointer;
}

.selectedTag{
    background-color: #D1E2EB;
}