@font-face {
    font-family: Lato-Regular;
    src: url(../../public/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../../public/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Thin;
    src: url(../../public/fonts/Lato/Lato-Thin.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../../public/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-ExtraBold;
    src: url(../../public/fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Medium;
    src: url(../../public/fonts/Lato/Lato-Light.ttf);
}


@font-face {
    font-family: RobotoSlab-Black;
    src: url(../../public/fonts/roboto-slab/RobotoSlab-Black.ttf);
}

@font-face {
    font-family: RobotoSlab-Bold;
    src: url(../../public/fonts/roboto-slab/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: RobotoSlab-ExtraBold;
    src: url(../../public/fonts/roboto-slab/RobotoSlab-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoSlab-Medium;
    src: url(../../public/fonts/roboto-slab/RobotoSlab-Medium.ttf);
}

@font-face {
    font-family: RobotoSlab-Regular;
    src: url(../../public/fonts/roboto-slab/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab-SemiBold;
    src: url(../../public/fonts/roboto-slab/RobotoSlab-SemiBold.ttf);
}