:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --horizontal-padding: 6%;
  --vertical-padding: 2%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --side-padding: 6%;
  --background-color: #3C4242;
}

body
{
  margin: 0%;
}

a:hover{
  color: #FF7A00;
}
