
.container{
    display: flex;
    flex-direction: column;
    padding: 0% var(--horizontal-padding);
    margin-top: 4%;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}