.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: min-content;
    margin-bottom: 3%;
}

.headingContainer{
    height: min-content;
    width: 40%;
    border-left: 6px solid blueviolet;
}

.headingText{
    width: max-content;
    font-family: RobotoSlab-SemiBold;
    margin: 0%;
    margin-left: 2%;
}

.link {
    color: #262626;
    font-family: RobotoSlab-Medium;
    font-size: 16px;
    text-decoration: none;
}

@media (max-width: 700px) {
    .container{
        margin-bottom: 8%;
    }
}