.container{
    display: flex;
    flex-direction: row;
    color: white;
    width: 48%;
    border-radius: 18px;
    overflow: hidden;
}

.contentSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    background-color:blueviolet;
    padding-left: 3%;
}

.headingText{
    font-family: RobotoSlab-ExtraBold;
    font-size: 36px;
    margin-bottom: 0%;
}

.detailText{
    margin-top: 4%;
    font-family: RobotoSlab-Medium;
    font-size: 28px;
}

.link{
    font-family: RobotoSlab-Regular;
    font-size: 20px;
    line-height: 22px;  
    border-bottom: 2px solid white;
    color: white;
    text-decoration: none;
}

.imageContainer{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
}

.image{
    margin: auto;
    object-fit: cover;
    max-width: 100%;
    transform: scale(1.1);
}

@media (max-width: 700px) {

    .headingText{
        font-size: 24px;
    }

.detailText{
    font-size: 18px;
}

    .container{
        width: 100%;
        margin-bottom: 4%;
    }

    .link{
        font-size: 14px;
    }
}