.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.controllerContainer{
    width: 100%;
    height: 80px;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% var(--side-padding);
    box-sizing: border-box;
}

.mainSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3%;
    padding: 0% var(--side-padding);
    box-sizing: border-box;
}

.filtersContainer{
    width: 22%;
}

.productsContainer{
    width: 72%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.paginationControlContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    margin: auto;
}

.buttonsContainer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationMainButton{
    text-decoration: none;
    color: black;
    display: flex;
    font-family: Lato-Bold;
    font-size: 16px;
    border: 2px solid #9A9A9A;
    border-radius: 12px;
    padding: 1% 2%;
    box-sizing: border-box;
    height: 20%;
}

.paginationButton {
    text-decoration: none;
    font-family: Lato-Bold;
    font-size: 18px;
    color: black;
    margin-inline: 2%;
}

.extraButtonsArea{
    font-family: Lato-Bold;
    font-size: 18px;
}

.btnImage{
    width: 18px;
    height: 18px;
    filter: invert();
    margin: auto;
}

.pageControls{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.pageItemSelectContainer{
    width: 50%;
    height: 100%;
}

.pageItemSelect{
    padding: 2% 3%;
    box-sizing: border-box;
    margin-left: 2%;
    height: 100%;
}

.sortingLogicSelect{
    padding: 2% 3%;
    box-sizing: border-box;
}


@media (max-width: 700px) {
    .filtersContainer{
        width: 80%;
        position: absolute;
        display: none;
    }
}