.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 32%;
    box-shadow: 0 0 5px 1px rgba(62, 60, 60, 0.3);
    height: 520px;
    margin-bottom: 2%;
    box-sizing: border-box;
}

.productRatingSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
}

.priceSection{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6% 7%;
    box-sizing: border-box;
    height: 38%;
    justify-content: space-between;
}

.productTextContainer{
    height: 48%;
}

.productDetailContainer{
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contentSection{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}



.favButtonSection {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.imageContainer{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.image{
    object-fit: cover;
    max-width: 100%;
}

.brandName{
    margin: 0%;
    font-family: Lato-Bold;
    font-size: 12px;
}

.productName{
    font-family: Lato-Regular;
    font-size: 16px;
    width: 100%;
}

.price{
    font-family: Lato-ExtraBold;
    font-size: 14px;
    color: #FF2E00;
}

.previousPrice{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #9D9D9D;
}

.starsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reviewCountContainer{
    display: flex;
}

.reviewCountText{
    margin: auto;
}

.discountText{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #FF2E00;
}

@media (max-width: 700px) {
    .container{
        width: 100%;
    }
}