
.quantityContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #C4C4C4;
    border-radius: 4px;
    width: 100%;
    padding: 1% 2%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
}

.quantityButtons{
    font-size: 32px;
    border: none;
    background: none;
}

.quantityText{
    font-size: 20px;
}
