.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    width: 30%;
    height: 420px;
    position: relative;
}

.imageSection{
    
}

.mainImage{
    width: 100%;
    height: 100%;
}

.tagSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3% 4%; 
    color: white;
    position: absolute;
    top: 10%;
    width: 30%;
}

.tagArea{
    width: 100%;
    background-color: #00A95D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-radius: 4px;
}

.tagSectionImageContainer{
    height: 90%;
    width: 30%;
}

.tagSectionImage{
    width: 26px;
    height: 26px;
    margin-right: 4%;
}

.tagText{
    color: white;
    font-size: 12px;
}

.imageContainer{
    position: relative;
    height: 76%;
}

.textContainer{
    height: 24%;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    z-index: 1;
}

.infoText{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-start;
}

.brandName{
    color: white;
    font-family: Lato-Bold;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 0%;
}


.linkContainer{
    color: white;
    padding: 2% 4%;
    border: 2px solid white;
    border-radius: 5px;
}

.externalLink{
    color: white;
    font-family: Lato-Bold;
    font-size: 14px;
    text-decoration: none;
}

@media (max-width: 1100px) {
    .container{
        width: 70%;
        margin-bottom: 6%;
    }
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        margin-bottom: 6%;
    }
}