.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText{
    text-align: center;
}


.label {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.inputField {
    width: 100%;
    height: 30px;
    padding: 1% 3%;
    box-sizing: border-box;
}

.productImagesContainer{
    width: 50%;
    height: max-content;
}

.sizesInputContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.colorSelectContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 4%;
}

.colorMarker{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid black;
}

.sizeInputLabel{
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;
}

.sizeInput{

}

.productImage{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.addProductButton{
    margin-top: 100px;
}

.progressContainer{
    text-align: center;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.progressText{
    font-family: RobotoSlab-SemiBold;
    font-size: 26px;
    margin: auto;
    margin-bottom: 0%;
}