.table{
    width: 100%;
    height: max-content;
    padding: 2%;
}

.tableHead{
    width: 100%;
    height: max-content;
}

.tableBody{
    width: 100%;
    height: max-content;
}

.tableRow{
    height: 55px;
}

.orderDateSection{
    width: 10%;
    text-align: center;
}

.customerNameSection{
    width: 15%;
    text-align: center;
}

.totalAmountSection{
    width: 6%;
    text-align: center;
}

.totalProductsSection{
    width: 6%;
    text-align: center;
}

.contactNumberSection{
    width: 18%;
    text-align: center;
}

.emailSection{
    width: 22%;
    text-align: center;
}

.viewOrderSection{
    width: 18%;
    text-align: center;
}