.container{
    width: 180px;
    height: max-content;
    position: relative;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 4px 1px black;
}

.imageContainer{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image{
    max-width: 100%;
    object-fit: contain;
}

.textContainer{
    width: 100%;
    height: max-content;
}


.buttonsContainer{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productNameText{
    font-family: RobotoSlab-Medium;
    font-size: 16px;
    margin: 0%;
    height: 52px;
}

.priceText{
    font-family: RobotoSlab-Regular;
    font-size: 16px;
    margin: 0%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 30px;
    height: 28px;
}
