.container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.categoriesContainer{
    display: flex;
    flex-direction: column;
}

.navSection{
    width: 30%;
    height: max-content;
}

.dataSection{
    width: 68%;
    height: max-content;
}

.progressContainer{
    text-align: center;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.progressText{
    font-family: RobotoSlab-SemiBold;
    font-size: 26px;
    margin: auto;
    margin-bottom: 0%;
}