.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0% var(--side-padding);
    justify-content: space-between;
    margin-top: 4%;
}

.contentContainer{
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filtersContainer{
    width: 28%;
}