
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0% var(--horizontal-padding);
    margin-top: 4%;
    box-sizing: border-box;
}

.contentContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .contentContainer{
        flex-direction: column;
    }
}