.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 32%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    height: 500px;
    margin-bottom: 3%;
    box-sizing: border-box;
}

.productRatingSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.priceSection{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8% 7%;
    box-sizing: border-box;
    height: 38%;
    justify-content: space-between;
}
.contentSection{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.favButtonSection {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.imageContainer{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scaleY(1.3);
}

.brandName{
    margin: 0%;
    font-family: Lato-Bold;
    font-size: 12px;
}

.productName{
    font-family: Lato-Regular;
    font-size: 16px;
    white-space: nowrap;
    width: 100%;
}

.price{
    font-family: Lato-ExtraBold;
    font-size: 14px;
    color: #FF2E00;
}

.previousPrice{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #9D9D9D;
}

.discountText{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #FF2E00;
}