.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
}

.inputField{
    margin-top: 12px;
    border: none;
    border: 2px solid #D9D9D9;
    height: 40px;
    border-radius: 3px;
    padding: 0% 2%;
}

.imgIcon{
    position: relative;
    width: 20px;
    height: 20px;
    inset: -27% 0% 0% 94%;
}

.redText{
    color: red;
}